<form class="dcf-form" id="attendance" action="" method="POST">
<table class="dcf-w-100% dcf-table dcf-table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Attended</th>
        </tr>
    </thead>
    <tbody>
    <% event.signups.each do |signup| %>
        <tr>
            <td><%= signup.name %></td>
            <td><%= signup.email %></td>
            <td>
            <div class="dcf-input-checkbox">
            <input id="attendance-checkbox" type="checkbox" value="0" name="attendace_<%= signup.id %>"  >
            </div>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<br>
<button class="dcf-btn dcf-btn-primary" type="submit">Save User</button>
</form>